read the docs in /docs before starting!

read the skill in /skills use and keep good skills!

read docs/deployment/rules carefully before deploying or managing k8!

An Engineer is only as good as his tools. improve docs and skills over time!